@import 'blocks/vars';
@import 'vendor/reset';
@import 'vendor/fonts';

*,
*:before,
*:after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	font-size: 62.5%;
}

body {
	background-color: #181818;
	color: $white;
	font-size: 1.4rem;
	font-family: system-ui, -apple-system, 'Segoe UI', 'Roboto',
		'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif,
		'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
		'Noto Color Emoji';
	line-height: 1.5;
}

/* Blocks */

@import 'blocks/page';
@import 'blocks/header';
@import 'blocks/nav';
@import 'blocks/subnav';
@import 'blocks/search';
@import 'blocks/sidebar';
@import 'blocks/main';
@import 'blocks/container';
@import 'blocks/profile';
@import 'blocks/social';
@import 'blocks/btn';
@import 'blocks/stories';
@import 'blocks/add-post';
@import 'blocks/post';
@import 'blocks/embed';
@import 'blocks/pagination';
@import 'blocks/relaited';
@import 'blocks/comments';
@import 'blocks/form';
