$primary: #202020;
$secondary: #121212;
$text: #d2d2d2;
$white: #fff;
$red: #ed3024;
$blue: #3137c9;

$z-index-sidebar: 1000;
$z-index-header: 1000;

$sidebar-width: 300px;

$profile-prof: #dedede;

$header-color: #0d0d0d;

$pagination-color-link: #0d0d0d;
$pagination-active: #104be3;
