.navigation {
	display: flex;

	a:hover {
		text-decoration: none;
	}

	@include breakpoint($tablet-bp) {
		display: none;
	}

	&_mobile {
		display: none;

		@include breakpoint($tablet-bp) {
			display: block;
		}
	}
}

.navigation__item {
	position: relative;

	&:hover {
		.navigation__link {
			@include breakpoint($tablet-bp) {
				background-color: none;
			}

			background-color: $blue;
		}
	}
}

.navigation__link {
	display: block;
	font-size: 1.07rem;
	line-height: 1.3rem;
	min-width: 86px;

	text-transform: uppercase;
	text-align: center;
	padding: 1.3rem 1.9rem 1.4rem 1.9rem;
	color: $white;

	transition: background-color 0.3s ease-in;

	@include breakpoint($tablet-bp) {
		font-size: 1.6rem;
		text-align: left;
	}

	&.has_subnav {
		position: relative;

		&:after {
			content: '';
			border-style: solid;
			border-width: 6px 5px 0 5px;
			border-color: $white transparent transparent transparent;

			position: absolute;
			top: 45%;
			right: 0.5rem;

			transform: rotate(180deg);
		}

		&.active:after {
			transform: rotate(360deg);
		}
	}

	&_blue {
		color: #107eff;
	}
}

.navigation__list {
	@include breakpoint($tablet-bp) {
		flex-direction: column;
		justify-content: flex-start;
	}
}
