.post {
	background-color: $primary;

	box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.35);
	border-radius: 5px;

	padding: 2.5rem;
	margin-bottom: 3rem;

	overflow: hidden;
}

.post__content {
	margin-bottom: 2rem;
}

.post__title {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 1.8rem;
	line-height: 2.1rem;

	color: #fff;

	&_mb0 {
		margin-bottom: 0;
	}
}

.post__description {
	font-family: 'Roboto', sans-serif;
	font-size: 1.4rem;
	line-height: 2.1rem;

	color: $text;
}

.post__text {
	padding-bottom: 2rem;
	border-bottom: 1px solid #1c1c1c;

	font-family: 'Roboto', sans-serif;
	font-size: 1.4rem;
	line-height: 2.1rem;

	color: $white;

	p {
		margin-bottom: 2rem;
	}

	h2 {
		display: block;
		font-size: 1.5em;
		margin-top: 0.83em;
		margin-bottom: 0.83em;
		margin-left: 0;
		margin-right: 0;
		font-weight: bold;
	}

	h3 {
		display: block;
		font-size: 1.17em;
		margin-top: 1em;
		margin-bottom: 1em;
		margin-left: 0;
		margin-right: 0;
		font-weight: bold;
	}

	h4 {
		display: block;
		margin-top: 1.33em;
		margin-bottom: 1.33em;
		margin-left: 0;
		margin-right: 0;
		font-weight: bold;
	}

	ul,
	ol {
		display: block;
		margin-top: 1em;
		margin-bottom: 1em;
		margin-left: 0;
		margin-right: 0;
		padding-left: 1rem;
		list-style-position: inside;
	}

	ul {
		list-style-type: disc;
	}

	ol {
		list-style-type: decimal;
	}

	table {
		max-width: 100%;
		height: auto;
		margin-bottom: 2rem;
	}

	img {
		width: 100%;
	}

	a {
		color: $blue;
		text-decoration: underline;
	}
}

.post__header {
	margin: 0 0 2.5rem;

	&_preview {
		margin: -2.5rem -2.5rem 2.5rem;
	}
}

.post__icon {
	display: block;
	max-width: 100%;
	height: auto;
}

.post__footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.post__data {
	display: flex;

	color: #828282;
	line-height: 1.2rem;
}

.post__data-item {
	&:not(:last-child):after {
		content: '';
		display: inline-block;
		width: 6px;
		height: 6px;
		margin: 0 1.5rem;
		position: relative;
		top: -2px;

		border-radius: 50%;
		background-color: #c4c4c4;
	}
}

.post__read {
	display: block;

	font-family: 'Roboto', sans-serif;
	font-size: 1.4rem;
	line-height: 1.6rem;

	color: #107eff;
}

.post__actions {
	margin-bottom: 1.5rem;

	display: flex;
	justify-content: space-between;

	font-family: 'Roboto', sans-serif;
	font-size: 1.2rem;
	line-height: 1.4rem;

	color: $white;

	a {
		opacity: 0.6;

		transition: 0.4s ease-in opacity;
		&:hover {
			opacity: 1;
		}
	}

	.post__actions-icon {
		margin-left: 0.5rem;
	}
}
