<div class="modal" id="contact-modal">
	<div class="modal__content modal__content_contact">
		<button class="modal__close" type="button">
			<img src="/assets/images/close.svg" alt="close modal" />
		</button>

		<form action="" class="form" method="POST">
			<div class="form__group form__group_md">
				<input
					type="email"
					class="form__control"
					placeholder="Ваше имя"
				/>
				<span class="form__line"></span>
			</div>

			<div class="form__group form__group_md">
				<input
					type="password"
					class="form__control"
					placeholder="Ваш e-mail"
				/>
				<span class="form__line"></span>
			</div>

			<div class="form__group form__group_md">
				<input
					type="password"
					class="form__control"
					placeholder="Текст сообщения"
				/>
				<span class="form__line"></span>
			</div>

			<div class="form__footer">
				<div class="form__group form__group_md">
					<button
						type="submit"
						class="btn btn_blue btn_rounded btn_sm"
					>
						Отправить
					</button>
				</div>
			</div>
		</form>

		<ul class="modal__footer">
			<li>
				E-mail:
				<a href="mailto:denisdevelop4604@gmail.com"
					>denisdevelop4604@gmail.com</a
				>
			</li>

			<li >
				Tелефон: <a href="tel:+94323285622">+943-232-856-22</a>
			</div>
		</ul>
		<!-- /.modal__footer -->
	</div>
	<!-- /.modal__content -->
</div>
<!-- /.modal -->
