<header class="header">
	<div class="header__wrapper">
		<div class="header__navigation">
			<nav class="navigation">
				<ul class="navigation__list">
					<li class="navigation__item">
						<a href="index.html" class="navigation__link"
							>Главная</a
						>
					</li>
					<li class="navigation__item">
						<a href="" class="navigation__link has_subnav open"
							>Статьи</a
						>
						<ul class="subnav">
							<li class="navigation__item">
								<a class="subnav__link" href="#"
									>Создание сайтов</a
								>
							</li>
							<li class="navigation__item">
								<a class="subnav__link" href="#"
									>Интернет-маркетинг</a
								>
							</li>
							<li class="navigation__item">
								<a class="subnav__link" href="#"
									>Продвижение видео</a
								>
							</li>
						</ul>
					</li>
					<li class="navigation__item">
						<a href="" class="navigation__link">Обо мне</a>
					</li>
					<li class="navigation__item">
						<a href="" class="navigation__link">Реклама</a>
					</li>
				</ul>
			</nav>
		</div>
		<div class="header__user">
			<nav class="navigation">
				<ul class="navigation__list">
					<li class="navigation__item">
						<a href="#" class="navigation__link">Профиль</a>
					</li>
					<li class="navigation__item">
						<a href="#" class="navigation__link">Выйти</a>
					</li>
				</ul>
				<form action="/" method="POST" class="search">
					<input
						class="search__input"
						type="text"
						placeholder="Поиск по блогу"
					/>
				</form>
			</nav>
		</div>
	</div>
</header>
