<div class="modal" id="share-modal">
	<div class="modal__content">
		<button class="modal__close" type="button">
			<img src="/assets/images/close.svg" alt="close modal" />
		</button>

		<ul class="modal__contact">
			<li class="modal__contact-item">
				<a href=""
					><img
						src="/assets/images/social-network/facebook.svg"
						alt="facebook"
				/></a>
			</li>
			<li class="modal__contact-item">
				<a href=""
					><img
						src="/assets/images/social-network/twitter.svg"
						alt="facebook"
				/></a>
			</li>
			<li class="modal__contact-item">
				<a href=""
					><img
						src="/assets/images/social-network/vk.svg"
						alt="facebook"
				/></a>
			</li>
			<li class="modal__contact-item">
				<a href=""
					><img
						src="/assets/images/social-network/copy.svg"
						alt="facebook"
				/></a>
			</li>
		</ul>
	</div>
	<!-- /.modal -->
</div>
