<aside class="sidebar">
	<div class="sidebar__wrapper">
		<div class="sidebar__header">
			<img src="/assets/images/sidebar-header.jpg" alt="" />
		</div>
		<div class="sidebar__content">
			<div class="profile">
				<img
					class="profile__avatar"
					src="https://place-hold.it/100"
					alt=""
				/>
				<div class="profile__name">Лукьянов Денис</div>
				<div class="profile__prof">Блог front-end разработчика</div>

				<ul class="social">
					<li class="social__item">
						<a href="" class="social__link" target="_blank">
							<img
								src="/assets/images/inst.svg"
								alt="inst"
								class="social__icon"
							/>
						</a>
					</li>
					<li class="social__item">
						<a href="" class="social__link" target="_blank">
							<img
								src="/assets/images/vk.svg"
								alt="vk"
								class="social__icon"
							/>
						</a>
					</li>
					<li class="social__item">
						<a href="" class="social__link" target="_blank">
							<img
								src="/assets/images/p.svg"
								alt="p"
								class="social__icon"
							/>
						</a>
					</li>
				</ul>

				<div class="profile__text">
					<p>
						Front-end разработчик. Практик верстки сайтов. Мне 14
						лет. Занимаюсь программированием с конца 2018 года.
						Сделал более 10 проектов на HTML, SCSS, JS, React.
						Наработал более 500 часов в создании сайтов.
					</p>
				</div>
			</div>
		</div>
		<div class="sidebar__footer">
			<a class="btn btn_red" href="#">Мои работы</a>
			<button class="btn btn_blue" type="button">Написать мне</button>
		</div>
	</div>
</aside>
