<!DOCTYPE html>
<html lang="ru">
	<head>
		{{> head }}
	</head>

	<!-- open burger -> class="show-sidebar"  for body -->
	<body>
		<!-- class="no-scroll"-->
		<div class="page">
			<!-- Header -->
			{{> header }}

			<!-- Sidebar -->
			{{> sidebar }}

			<!-- Main -->
			<main class="main">
				<div class="main__wrapper">
					<div class="container">{{> body }}</div>
				</div>
			</main>
		</div>

		{{> contact-modal }} {{> share-modal }} {{> story-modal }}

		<!-- JS -->
		<script defer src="assets/js/app.js"></script>
	</body>
</html>
